In [1]:
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd
import datetime

Task 1
---------
Scrap the USD To EGP Exchange rate from this website
https://www.exchangerates.org.uk/Dollars-to-Egyptian-Pounds-currency-conversion-page.html
and then use it to make a software that takes amount of USD Dollars from the user and calculate how much will it cost in EGP.

In [6]:
url = 'https://www.exchangerates.org.uk/Dollars-to-Egyptian-Pounds-currency-conversion-page.html'
src = requests.get(url)
soup = BeautifulSoup(src.content, 'lxml')

# find the exchange rate
exchange_rate = soup.find('span', {'id' : 'shd2b;'}).text

# convert exchange rate to a float
exchange_rate = float(exchange_rate)
now = datetime.datetime.now()

print(now.strftime("%Y-%m-%d %H:%M:%S"), 'USD to EGP exchange rate:', exchange_rate)

# get the amount of USD dollars from the user
usd_dollars = float(input('Enter the amount of USD dollars: '))

# calculate the amount in EGP
egp = usd_dollars * exchange_rate

# print the result
print(f'{usd_dollars:.2f} USD is equivalent to {egp:.2f} EGP')

2023-03-13 11:55:59 USD to EGP exchange rate: 30.9175
100.00 USD is equivalent to 3091.75 EGP

Task 2
--------- 
Scraping from forecast weather
Imagine you work for forecast weather Now imagine your boss wants you to find the temperture for each day in celsius degree. How could you do this with Beautiful Soup?
use this web site to help you https://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168

In [3]:
url = 'https://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168'
src = requests.get(url)
soup = BeautifulSoup(src.content, 'lxml')
c = soup.find('p', {'class':'myforecast-current-sm'}).text
time = soup.find_all('td')[-1].text.strip()

print(time, '   ',c)

11 Mar 11:43 PM PST     12°C

Task 3 
---------
### Skip For Now

Task 4 (Bouns)
---------
### Hockey Teams Scraping

https://www.scrapethissite.com/pages/forms/?page_num=1

In [2]:
url_template = 'https://www.scrapethissite.com/pages/forms/?page_num={}&per_page=100'

# Loop through all 6 pages and scrape the data
headers = []
rows = []
for page_num in range(1, 7):
    url = url_template.format(page_num)
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    table = soup.find('table', {'class': 'table'})
    if not headers:
        for th in table.find_all('th'):
            headers.append(th.text.strip())
    for tr in table.find_all('tr')[1:]:
        row = []
        for td in tr.find_all('td'):
            row.append(td.text.strip())
        rows.append(row)

# Save the data to a CSV file
with open('Hockey_Teams.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(headers)
    for row in rows:
        writer.writerow(row)

print('Data has been scraped from all 6 pages and saved to data.csv.')

Data has been scraped from all 6 pages and saved to data.csv.

In [3]:
pd.read_csv('Hockey_Teams.csv')

,Team Name,Year,Wins,Losses,OT Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
0,Boston Bruins,1990,44,24,NaN,0.550,299,264,35
1,Buffalo Sabres,1990,31,30,NaN,0.388,292,278,14
2,Calgary Flames,1990,46,26,NaN,0.575,344,263,81
3,Chicago Blackhawks,1990,49,23,NaN,0.613,284,211,73
4,Detroit Red Wings,1990,34,38,NaN,0.425,273,298,-25
...,...,...,...,...,...,...,...,...,...
577,Tampa Bay Lightning,2011,38,36,8.0,0.463,235,281,-46
578,Toronto Maple Leafs,2011,35,37,10.0,0.427,231,264,-33
579,Vancouver Canucks,2011,51,22,9.0,0.622,249,198,51
580,Washington Capitals,2011,42,32,8.0,0.512,222,230,-8
581,Winnipeg Jets,2011,37,35,10.0,0.451,225,246,-21

### Extra Scraping
* Countries of the World Scraping
https://www.scrapethissite.com/pages/simple/

In [2]:
# Send a GET request to the website URL
url = 'https://www.scrapethissite.com/pages/simple/'
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find all div elements with class 'col-md-4 country'
countries_div = soup.find_all('div', {'class': 'col-md-4 country'})

# Open a CSV file for writing
with open('countries.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Country', 'Capital', 'Population', 'Area'])
    
    # Extract the data for each country and write to CSV file
    for country_div in countries_div:
        # Extract the country name
        country_name = country_div.find('h3').text.strip()
        
        # Extract the country capital
        country_capital = country_div.find('span', {'class': 'country-capital'}).text.strip()
        
        # Extract the country population
        country_population = country_div.find('span', {'class': 'country-population'}).text.strip()
        
        # Extract the country area
        country_area = country_div.find('span', {'class': 'country-area'}).text.strip()
        
        # Write the country data to CSV file
        writer.writerow([country_name, country_capital, country_population, country_area])

In [3]:
pd.read_csv('countries.csv')

                  Country           Capital  Population       Area
0                 Andorra  Andorra la Vella       84000      468.0
1    United Arab Emirates         Abu Dhabi     4975593    82880.0
2             Afghanistan             Kabul    29121286   647500.0
3     Antigua and Barbuda        St. John's       86754      443.0
4                Anguilla        The Valley       13254      102.0
..                    ...               ...         ...        ...
245                 Yemen             Sanaa    23495361   527970.0
246               Mayotte         Mamoudzou      159042      374.0
247          South Africa          Pretoria    49000000  1219912.0
248                Zambia            Lusaka    13460305   752614.0
249              Zimbabwe            Harare    11651858   390580.0

[250 rows x 4 columns]

<details><summary>Done By</summary>
<center> Ahmed NasrElDin </center> 
</details>