In [1]:
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd
import datetime

Task 1
---------
Scrap the USD To EGP Exchange rate from this website
https://www.exchangerates.org.uk/Dollars-to-Egyptian-Pounds-currency-conversion-page.html
and then use it to make a software that takes amount of USD Dollars from the user and calculate how much will it cost in EGP.

In [6]:
url = 'https://www.exchangerates.org.uk/Dollars-to-Egyptian-Pounds-currency-conversion-page.html'
src = requests.get(url)
soup = BeautifulSoup(src.content, 'lxml')

# find the exchange rate
exchange_rate = soup.find('span', {'id' : 'shd2b;'}).text

# convert exchange rate to a float
exchange_rate = float(exchange_rate)
now = datetime.datetime.now()

print(now.strftime("%Y-%m-%d %H:%M:%S"), 'USD to EGP exchange rate:', exchange_rate)

# get the amount of USD dollars from the user
usd_dollars = float(input('Enter the amount of USD dollars: '))

# calculate the amount in EGP
egp = usd_dollars * exchange_rate

# print the result
print(f'{usd_dollars:.2f} USD is equivalent to {egp:.2f} EGP')

2023-03-13 11:55:59 USD to EGP exchange rate: 30.9175
100.00 USD is equivalent to 3091.75 EGP

Task 2
--------- 
Scraping from forecast weather
Imagine you work for forecast weather Now imagine your boss wants you to find the temperture for each day in celsius degree. How could you do this with Beautiful Soup?
use this web site to help you https://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168

In [3]:
url = 'https://forecast.weather.gov/MapClick.php?lat=37.7772&lon=-122.4168'
src = requests.get(url)
soup = BeautifulSoup(src.content, 'lxml')
c = soup.find('p', {'class':'myforecast-current-sm'}).text
time = soup.find_all('td')[-1].text.strip()

print(time, '   ',c)

11 Mar 11:43 PM PST     12°C

Task 3
---------
Scrap all books (name, price, rate) for each category and put them into a CSV & Excel file
https://books.toscrape.com/

In [4]:
result = requests.get('https://books.toscrape.com/index.html')
src = result.content
soup = BeautifulSoup(src, "lxml")
total_pages = int(soup.find('li', {'class':'current'}).text.split('of')[1].strip())
print(total_pages, type(total_pages))

page_num = 1

title = []
price = []
star = []
link = []

while True:
    result = requests.get(f'https://books.toscrape.com/catalogue/page-{page_num}.html')
    src = result.content
    soup = BeautifulSoup(src, "lxml")

    titles = soup.find_all('h3')
    prices = soup.find_all('p', {'class':'price_color'})
    stars = soup.find_all("article", class_="product_pod")
    links = soup.find_all('h3')

    for i in range(len(titles)):
        title.append(titles[i].find('a').get('title'))
        price.append(prices[i].text)
        star.append(stars[i].select_one("p.star-rating").get("class")[1])
        link.append('https://books.toscrape.com/catalogue/' + links[i].find('a').get('href'))
        
    
    page_num += 1
    
    
    if (page_num > total_pages):
        print(f'Done Scraping {page_num-1} Pages')
        break

with open('1stbooks.csv', mode='a+', newline='', encoding='utf-8') as file:
        writer = csv.writer(file)
        writer.writerow(['Title', 'Price', 'Star Rating', 'Link'])
        for i in range(len(title)):
            writer.writerow([title[i], price[i], star[i], link[i]])

50 <class 'int'>
Done Scraping 50 Pages

In [2]:
import pandas as pd

In [9]:
pd.read_csv('1stbooks.csv')

,Title,Price,Star Rating,Link
0,A Light in the Attic,£51.77,Three,https://books.toscrape.com/catalogue/a-light-i...
1,Tipping the Velvet,£53.74,One,https://books.toscrape.com/catalogue/tipping-t...
2,Soumission,£50.10,One,https://books.toscrape.com/catalogue/soumissio...
3,Sharp Objects,£47.82,Four,https://books.toscrape.com/catalogue/sharp-obj...
4,Sapiens: A Brief History of Humankind,£54.23,Five,https://books.toscrape.com/catalogue/sapiens-a...
...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,£55.53,One,https://books.toscrape.com/catalogue/alice-in-...
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",£57.06,Four,https://books.toscrape.com/catalogue/ajin-demi...
997,A Spy's Devotion (The Regency Spies of London #1),£16.97,Five,https://books.toscrape.com/catalogue/a-spys-de...
998,1st to Die (Women's Murder Club #1),£53.98,One,https://books.toscrape.com/catalogue/1st-to-di...
999,"1,000 Places to See Before You Die",£26.08,Five,https://books.toscrape.com/catalogue/1000-plac...

In [ ]:
### DONT RUN THIS CODE (((IT TAKES 9 MINS))) BUT ITS WORKING :D

category = []

for l in link:
    result = requests.get(l)
    src = result.content
    soup = BeautifulSoup(src, "lxml")
    
    category.append(soup.find('ul').text.split('\n')[8])
    
    
### DONT RUN THIS CODE (((IT TAKES 9 MINS))) BUT ITS WORKING :D

In [ ]:
with open('badbooks.csv', mode='a+', newline='', encoding='utf-8') as file:
        writer = csv.writer(file)
        writer.writerow(['Title', 'Price', 'Star Rating', 'Category', 'Link'])
        for i in range(len(title)):
            writer.writerow([title[i], price[i], star[i], category[i], link[i]])

In [2]:
pd.read_csv('badbooks.csv')

,Title,Price,Star Rating,Category,Link
0,A Light in the Attic,£51.77,Three,Poetry,https://books.toscrape.com/catalogue/a-light-i...
1,Tipping the Velvet,£53.74,One,Historical Fiction,https://books.toscrape.com/catalogue/tipping-t...
2,Soumission,£50.10,One,Fiction,https://books.toscrape.com/catalogue/soumissio...
3,Sharp Objects,£47.82,Four,Mystery,https://books.toscrape.com/catalogue/sharp-obj...
4,Sapiens: A Brief History of Humankind,£54.23,Five,History,https://books.toscrape.com/catalogue/sapiens-a...
...,...,...,...,...,...
995,Alice in Wonderland (Alice's Adventures in Won...,£55.53,One,Classics,https://books.toscrape.com/catalogue/alice-in-...
996,"Ajin: Demi-Human, Volume 1 (Ajin: Demi-Human #1)",£57.06,Four,Sequential Art,https://books.toscrape.com/catalogue/ajin-demi...
997,A Spy's Devotion (The Regency Spies of London #1),£16.97,Five,Historical Fiction,https://books.toscrape.com/catalogue/a-spys-de...
998,1st to Die (Women's Murder Club #1),£53.98,One,Mystery,https://books.toscrape.com/catalogue/1st-to-di...
999,"1,000 Places to See Before You Die",£26.08,Five,Travel,https://books.toscrape.com/catalogue/1000-plac...

Task 3
---------
Scrap all books (name, price, rate) for each category and put them into a CSV & Excel file
https://books.toscrape.com/

In [2]:
# URL of the website to be scraped
url = "https://books.toscrape.com/"

# Make a GET request to fetch the raw HTML content
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, "lxml")

# Get all the book categories from the sidebar
categories = soup.find('div', class_='side_categories').find_all('a')
category_urls = [url + category['href'] for category in categories[1:]]
# Adjust links to solve pagination
page_num = 1
# category_urls = [link[:-10] + f'page-{page_num}' + link[-5:] for link in category_urls]

In [3]:
category_links = []
for link in category_urls:
    try:
        response = requests.get(link)
        soup = BeautifulSoup(response.content, "lxml")
        soup.find('li', {'class':'current'}).text.split('of')[1].strip()
        category_links.append(link[:-10] + f'page-{page_num}' + link[-5:])
    except:
        category_links.append(link)

In [4]:
# Loop through each category and scrape the book details
for category_url in category_links:
    response = requests.get(category_url)
    soup = BeautifulSoup(response.content, "lxml")
    
    # Get the category name
    category = soup.find('h1').text.strip()
    
    try:
        total_pages = int(soup.find('li', {'class':'current'}).text.split('of')[1].strip())
        print(f'{category} has {total_pages} Pages', end='  ')
    except:
        total_pages = 1
        print(f'{category} has {total_pages} Pages', end='  ')

Travel has 1 Pages  Mystery has 2 Pages  Historical Fiction has 2 Pages  Sequential Art has 4 Pages  Classics has 1 Pages  Philosophy has 1 Pages  Romance has 2 Pages  Womens Fiction has 1 Pages  Fiction has 4 Pages  Childrens has 2 Pages  Religion has 1 Pages  Nonfiction has 6 Pages  Music has 1 Pages  Default has 8 Pages  Science Fiction has 1 Pages  Sports and Games has 1 Pages  Add a comment has 4 Pages  Fantasy has 3 Pages  New Adult has 1 Pages  Young Adult has 3 Pages  Science has 1 Pages  Poetry has 1 Pages  Paranormal has 1 Pages  Art has 1 Pages  Psychology has 1 Pages  Autobiography has 1 Pages  Parenting has 1 Pages  Adult Fiction has 1 Pages  Humor has 1 Pages  Horror has 1 Pages  History has 1 Pages  Food and Drink has 2 Pages  Christian Fiction has 1 Pages  Business has 1 Pages  Biography has 1 Pages  Thriller has 1 Pages  Contemporary has 1 Pages  Spirituality has 1 Pages  Academic has 1 Pages  Self Help has 1 Pages  Historical has 1 Pages  Christian has 1 Pages  Suspense has 1 Pages  Short Stories has 1 Pages  Novels has 1 Pages  Health has 1 Pages  Politics has 1 Pages  Cultural has 1 Pages  Erotica has 1 Pages  Crime has 1 Pages

First, let's look at the re.findall(r'\d+', string) part.
This uses the re.findall() function from the re module in Python to find all non-overlapping matches of one or more digits (\d+) in the given string string. 
The result is a list of all the digit strings that were found in the original string, in the order that they appear.

For example, in the given string "Travel has 1 Pages Mystery has 2 Pages", re.findall(r'\d+', string) would return the list ['1', '2'].

In [5]:
import re

# The given string that contains numbers to be summed
string = 'Travel has 1 Pages  Mystery has 2 Pages  Historical Fiction has 2 Pages  Sequential Art has 4 Pages  Classics has 1 Pages  Philosophy has 1 Pages  Romance has 2 Pages  Womens Fiction has 1 Pages  Fiction has 4 Pages  Childrens has 2 Pages  Religion has 1 Pages  Nonfiction has 6 Pages  Music has 1 Pages  Default has 8 Pages  Science Fiction has 1 Pages  Sports and Games has 1 Pages  Add a comment has 4 Pages  Fantasy has 3 Pages  New Adult has 1 Pages  Young Adult has 3 Pages  Science has 1 Pages  Poetry has 1 Pages  Paranormal has 1 Pages  Art has 1 Pages  Psychology has 1 Pages  Autobiography has 1 Pages  Parenting has 1 Pages  Adult Fiction has 1 Pages  Humor has 1 Pages  Horror has 1 Pages  History has 1 Pages  Food and Drink has 2 Pages  Christian Fiction has 1 Pages  Business has 1 Pages  Biography has 1 Pages  Thriller has 1 Pages  Contemporary has 1 Pages  Spirituality has 1 Pages  Academic has 1 Pages  Self Help has 1 Pages  Historical has 1 Pages  Christian has 1 Pages  Suspense has 1 Pages  Short Stories has 1 Pages  Novels has 1 Pages  Health has 1 Pages  Politics has 1 Pages  Cultural has 1 Pages  Erotica has 1 Pages  Crime has 1 Pages  '

# Use regular expressions to find all non-overlapping matches of one or more digits in the string
numbers = re.findall(r'\d+', string)

# Convert the list of digit strings to a list of integers and add them up
sum_numbers = sum(map(int, numbers))

# Print the total sum of all the numbers in the string
print(sum_numbers)

80

In [7]:
# Create an empty list to store the scraped data and pagination start
title = []
price = []
star = []
category = []
link = []

# Loop through each category and scrape the book details
for category_url in category_links:
    if 'page' in category_url:
        page_num = 1
        while True:
            category_url = category_url[:-6] + f'{page_num}' + category_url[-5:]
            result = requests.get(category_url)
            src = result.content
            soup = BeautifulSoup(src, "lxml")
            total_pages = int(soup.find('li', {'class':'current'}).text.split('of')[1].strip())
            
            categorys = soup.find('h1').text.strip()
            titles = soup.find_all('h3')
            prices = soup.find_all('p', {'class':'price_color'})
            stars = soup.find_all("article", class_="product_pod")
            links = soup.find_all('h3')

            for i in range(len(titles)):
                title.append(titles[i].find('a').get('title'))
                price.append(prices[i].text)
                star.append(stars[i].select_one("p.star-rating").get("class")[1])
                category.append(categorys)
                link.append('https://books.toscrape.com/catalogue/' + links[i].find('a').get('href'))
            
            page_num += 1
            
            
            if (page_num > total_pages):
                print(f'Done Scraping {categorys} From {page_num-1} Pages')
                break
    else:
        result = requests.get(category_url)
        src = result.content
        soup = BeautifulSoup(src, "lxml")
        categorys = soup.find('h1').text.strip()
        titles = soup.find_all('h3')
        prices = soup.find_all('p', {'class':'price_color'})
        stars = soup.find_all("article", class_="product_pod")
        links = soup.find_all('h3')

        for i in range(len(titles)):
            title.append(titles[i].find('a').get('title'))
            price.append(prices[i].text)
            star.append(stars[i].select_one("p.star-rating").get("class")[1])
            category.append(categorys)
            link.append('https://books.toscrape.com/catalogue/' + links[i].find('a').get('href'))
        print(f'Done Scraping {categorys}')

Done Scraping Travel
Done Scraping Mystery From 2 Pages
Done Scraping Historical Fiction From 2 Pages
Done Scraping Sequential Art From 4 Pages
Done Scraping Classics
Done Scraping Philosophy
Done Scraping Romance From 2 Pages
Done Scraping Womens Fiction
Done Scraping Fiction From 4 Pages
Done Scraping Childrens From 2 Pages
Done Scraping Religion
Done Scraping Nonfiction From 6 Pages
Done Scraping Music
Done Scraping Default From 8 Pages
Done Scraping Science Fiction
Done Scraping Sports and Games
Done Scraping Add a comment From 4 Pages
Done Scraping Fantasy From 3 Pages
Done Scraping New Adult
Done Scraping Young Adult From 3 Pages
Done Scraping Science
Done Scraping Poetry
Done Scraping Paranormal
Done Scraping Art
Done Scraping Psychology
Done Scraping Autobiography
Done Scraping Parenting
Done Scraping Adult Fiction
Done Scraping Humor
Done Scraping Horror
Done Scraping History
Done Scraping Food and Drink From 2 Pages
Done Scraping Christian Fiction
Done Scraping Business
Done Scraping Biography
Done Scraping Thriller
Done Scraping Contemporary
Done Scraping Spirituality
Done Scraping Academic
Done Scraping Self Help
Done Scraping Historical
Done Scraping Christian
Done Scraping Suspense
Done Scraping Short Stories
Done Scraping Novels
Done Scraping Health
Done Scraping Politics
Done Scraping Cultural
Done Scraping Erotica
Done Scraping Crime

In [8]:
with open('2ndbooks.csv', mode='a+', newline='', encoding='utf-8') as file:
        writer = csv.writer(file)
        writer.writerow(['Name', 'Price', 'Rating', 'Category', 'Link'])
        for i in range(len(title)):
            writer.writerow([title[i], price[i], star[i], category[i], link[i]])

In [10]:
pd.read_csv('2ndbooks.csv')

,Name,Price,Rating,Category,Link
0,It's Only the Himalayas,£45.17,Two,Travel,https://books.toscrape.com/catalogue/../../../...
1,Full Moon over Noah’s Ark: An Odyssey to Mount...,£49.43,Four,Travel,https://books.toscrape.com/catalogue/../../../...
2,See America: A Celebration of Our National Par...,£48.87,Three,Travel,https://books.toscrape.com/catalogue/../../../...
3,Vagabonding: An Uncommon Guide to the Art of L...,£36.94,Two,Travel,https://books.toscrape.com/catalogue/../../../...
4,Under the Tuscan Sun,£37.33,Three,Travel,https://books.toscrape.com/catalogue/../../../...
...,...,...,...,...,...
995,Why the Right Went Wrong: Conservatism--From G...,£52.65,Four,Politics,https://books.toscrape.com/catalogue/../../../...
996,Equal Is Unfair: America's Misguided Fight Aga...,£56.86,One,Politics,https://books.toscrape.com/catalogue/../../../...
997,Amid the Chaos,£36.58,One,Cultural,https://books.toscrape.com/catalogue/../../../...
998,Dark Notes,£19.19,Five,Erotica,https://books.toscrape.com/catalogue/../../../...
999,The Long Shadow of Small Ghosts: Murder and Me...,£10.97,One,Crime,https://books.toscrape.com/catalogue/../../../...

Task 4 (Bouns)
---------
### Hockey Teams Scraping

https://www.scrapethissite.com/pages/forms/?page_num=1

In [2]:
url_template = 'https://www.scrapethissite.com/pages/forms/?page_num={}&per_page=100'

# Loop through all 6 pages and scrape the data
headers = []
rows = []
for page_num in range(1, 7):
    url = url_template.format(page_num)
    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')
    table = soup.find('table', {'class': 'table'})
    if not headers:
        for th in table.find_all('th'):
            headers.append(th.text.strip())
    for tr in table.find_all('tr')[1:]:
        row = []
        for td in tr.find_all('td'):
            row.append(td.text.strip())
        rows.append(row)

# Save the data to a CSV file
with open('Hockey_Teams.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(headers)
    for row in rows:
        writer.writerow(row)

print('Data has been scraped from all 6 pages and saved to data.csv.')

Data has been scraped from all 6 pages and saved to data.csv.

In [3]:
pd.read_csv('Hockey_Teams.csv')

,Team Name,Year,Wins,Losses,OT Losses,Win %,Goals For (GF),Goals Against (GA),+ / -
0,Boston Bruins,1990,44,24,NaN,0.550,299,264,35
1,Buffalo Sabres,1990,31,30,NaN,0.388,292,278,14
2,Calgary Flames,1990,46,26,NaN,0.575,344,263,81
3,Chicago Blackhawks,1990,49,23,NaN,0.613,284,211,73
4,Detroit Red Wings,1990,34,38,NaN,0.425,273,298,-25
...,...,...,...,...,...,...,...,...,...
577,Tampa Bay Lightning,2011,38,36,8.0,0.463,235,281,-46
578,Toronto Maple Leafs,2011,35,37,10.0,0.427,231,264,-33
579,Vancouver Canucks,2011,51,22,9.0,0.622,249,198,51
580,Washington Capitals,2011,42,32,8.0,0.512,222,230,-8
581,Winnipeg Jets,2011,37,35,10.0,0.451,225,246,-21

### Extra Scraping
* Countries of the World Scraping
https://www.scrapethissite.com/pages/simple/

In [2]:
# Send a GET request to the website URL
url = 'https://www.scrapethissite.com/pages/simple/'
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find all div elements with class 'col-md-4 country'
countries_div = soup.find_all('div', {'class': 'col-md-4 country'})

# Open a CSV file for writing
with open('countries.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Country', 'Capital', 'Population', 'Area'])
    
    # Extract the data for each country and write to CSV file
    for country_div in countries_div:
        # Extract the country name
        country_name = country_div.find('h3').text.strip()
        
        # Extract the country capital
        country_capital = country_div.find('span', {'class': 'country-capital'}).text.strip()
        
        # Extract the country population
        country_population = country_div.find('span', {'class': 'country-population'}).text.strip()
        
        # Extract the country area
        country_area = country_div.find('span', {'class': 'country-area'}).text.strip()
        
        # Write the country data to CSV file
        writer.writerow([country_name, country_capital, country_population, country_area])

In [3]:
pd.read_csv('countries.csv')

                  Country           Capital  Population       Area
0                 Andorra  Andorra la Vella       84000      468.0
1    United Arab Emirates         Abu Dhabi     4975593    82880.0
2             Afghanistan             Kabul    29121286   647500.0
3     Antigua and Barbuda        St. John's       86754      443.0
4                Anguilla        The Valley       13254      102.0
..                    ...               ...         ...        ...
245                 Yemen             Sanaa    23495361   527970.0
246               Mayotte         Mamoudzou      159042      374.0
247          South Africa          Pretoria    49000000  1219912.0
248                Zambia            Lusaka    13460305   752614.0
249              Zimbabwe            Harare    11651858   390580.0

[250 rows x 4 columns]

<details><summary>Done By</summary>
<center> Ahmed NasrElDin </center> 
</details>